@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px #cccccc;
  background-color: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Index page */

/* Header */

.page-header {
  display: flex;
  padding: 0 70px;
  font-weight: 700;
}

.navigation-logo {
  display: block;
  margin-bottom: -5px;
  margin-right: 46px;
  align-items: start;
  z-index: 1;
  cursor: pointer;
}

.logo {
  display: block;
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.navigation-item:not(:last-child) {
  margin-right: 35px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0 17px;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.current {
  border-bottom: 2px solid #756257;
}

.navigation-user {
  max-width: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user .navigation-link {
  height: 100%;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 23px;
}

.favotite-number {
  position: absolute;
  top: 14px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  overflow: hidden;
}

.heart-icon {
  margin-right: 7px;
}

.button {
  display: block;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button-want {
  width: 160px;
  padding: 9px 30px;
}

/* Main Hero */

.main-hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 78px;
  background-color: #12476a;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-image-mask {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/index-background-mask.svg");
}

.main-text {
  max-width: 655px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 90px;
}

.main-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advanatages */

.advantages-item {
  width: 400px;
  padding: 93px 0 91px;
  text-align: center;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 31px;
  max-width: 172px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  position: relative;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-number::before {
  content: '— ';
}

.advantages-number::after {
  content: ' —';
}

.advantages-description {
  margin: 0 auto;
  max-width: 230px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-image {
  align-self: center;
}

.image {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.card-short-text {
  padding: 102px 0;
}

/* Flex advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card {
  padding-top: 183px;
  padding-bottom: 81px;
  background-position: 165px 80px;
  background-repeat: no-repeat;
}

.advantages-item-sublist {
  display: flex;
  flex-wrap: wrap;
}

.card-dark-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.card-blue {
  color: #333333;
  background-color: #e6f0f6;
}

.card-light-blue {
  color: #333333;
  background-color: #f0f6fa;
}

.home {
  background-image: url("../images/advantages-icons/home.svg");
}

.food {
  background-image: url("../images/advantages-icons/food.svg");
}

.souvenir {
  background-image: url("../images/advantages-icons/souvenir.svg");
}

/* Search section */

.search-section {
  padding: 89px 0 94px;
  text-align: center;
}

.search-text {
  max-width: 592px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-section .section-title {
  margin-bottom: 30px;
}

.section-description {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.button-section {
  padding: 12px 14px;
  color: #ffffff;
  background-color: #756157;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.button-search {
  display: block;
  width: 574px;
  margin: 0 auto;
  border-radius: 4px;
  text-decoration: none;
}

/* Subscibe  */

.subscription-section {
  padding: 94px 0;
  background-color: #12476a;
  background-image: url("../images/subscription-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-text {
  max-width: 476px;
  margin: 0 auto;
}

.subscription-section .section-title {
  margin-bottom: 30px;
  color: #ffffff;
}

.subscription-section .section-description {
  margin-bottom: 46px;
  color: #ffffff;
}

.button-subscribe {
  width: 200px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #82b3d3;
  letter-spacing: -0.9px;
  font-size: 18px;
  cursor: pointer;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.input-text {
  max-width: 600px;
  padding: 20px;
  flex-grow: 1;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 82px;
}

.phone {
  max-width: 382px;
  margin-right: 10px;
  margin-bottom: auto;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.socials-item {
  width: 46px;
  height: 40px;
  margin-bottom: 8px;
}

.socials-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #83b3d3;
  text-align: center;
  text-decoration: none;
}

.logo-wrap {
  max-width: 115px ;
}

.logo-link {
  color: #000000;
}

/* Catalog раge*/

.filter-wrapper {
  padding: 36px 0 40px;
  background-color: #2e6e9a;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

/* Catalog filter-form */

.filter-container {
  max-width: 1063px;
  margin: 0 auto;
}

.catalog-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  max-width: 200px;
  padding: 0;
  margin: 0;
  margin-right: 66px;
  margin-bottom: 15px;
  border: none;
}

.filter-group:nth-child(2) {
  margin-right: auto;
}

.filter-group:nth-child(3) {
  margin-right: 72px;
}

.filter-title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-item {
  margin-bottom: 15px;
}

.option-label {
  position: relative;
  display: block;
  padding-left: 42px;
  font-size: 18px;
  line-height: 21px;
}

.input-wrap {
  display: flex;
  margin-bottom: 14px;
}

.input-number {
  display: block;
  width: 144px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 13px 14px 13px;
  background-color: transparent;
}

.input-number::placeholder {
  color: #ffffff;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.input-number {
  -moz-appearance: textfield;
}

.start-number {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.end-number {
  border-radius: 0 4px 4px 0;
}

.input-label {
  position: relative;
}

.placeholder-text {
  position: absolute;
  top: 25%;
  right: 10%;
  color: #c9c6c6;
  font-size: 18px;
  line-height: 23px;
}

.range-scale {
  position: relative;
  top: 15px;
  height: 4px;
  background-color: #c9c6c6;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.button-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
  margin-right: 4px;
}

.button-apply {
  margin-bottom: 16px;
  padding: 14px 32px;
  border: none;
  background-color: #82b3d3;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.button-reset {
  display: block;
  max-width: 100px;
  border: 3px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  cursor: pointer;
}

/* Custom checkbox and radio */

.custom-checkbox {
  position: absolute;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.checkbox:checked + .custom-checkbox::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/checkbox.svg");
}

.custom-radio {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.radio:checked + .custom-radio::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 900px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.breadcrumbs-item:not(:first-child)::after {
  content: '';
  position: absolute;
  left: -5px;
  top: 31%;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 10px;
}

.breadcrumbs-link {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-svg {
  display: block;
}

/* Result header */

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 54px 72px 53px;
}

.results-section-title {
  margin-right: auto;
}

.sort-list {
  width: 288px;
  margin: 0;
  margin-right: 78px;
  padding: 16px 40px 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  color: #333333;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  cursor: pointer;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.view-item {
  margin-right: 8px;
  margin-bottom: 5px;
}

.view-item:nth-child(3n) {
  margin-right: 0;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
}

.tile {
  background-image: url("../images/tools/tile.svg");
}

.slideshow {
  background-image: url("../images/tools/slideshow.svg");
}

.list-view {
  background-image: url("../images/tools/list.svg");
}

/* Result cards */

.results a {
  text-decoration: none;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 18px;
  padding: 0 72px;
  margin-bottom: 66px;
}

.results-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px;
}

.results-image-link {
  grid-column: 1 / -1;
}

.results-image {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.result-link {
  grid-column: 1 / -1;
}

.results-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.results-type {
  display: inline-block;

  font-size: 18px;
  line-height: 21px;
}

.results-price {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
}

.button-more {
  width: 140px;
  padding: 9px 15px;
  color: #ffffff;
  background-color: #756157;
}

.button-favorite {
  width: 140px;
  padding: 9px 15px;
  background-color: #82b3d3;
}

.button-active{
  background-color: #7db54f;
}

.hotelstars {
  display: flex;
  background-image: url("../images/icons/star.svg");
  background-repeat: space repeat;
}

.two-stars {
  width: 42px;
  height: 18px;
  align-self: center;
}

.three-stars {
  width: 66px;
  height: 18px;
  align-self: center;
}

.four-stars {
  width: 88px;
  height: 18px;
  align-self: center;
}

.score {
  width: 140px;
  padding: 9px 15px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  max-width: 1055px;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;
  padding: 26px 0 16px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 490px;
  margin-right: auto;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0
}

.pagination-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.current-page {
  color: #000000;
  background-color: #f2f2f2;
}

.results-label {
  max-width: 180px;
  margin-right: 51px;
  margin-bottom: 8px;
}

.results-number {
  width: 160px;
  margin-bottom: 10px;
  padding: 14px 40px 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  color: #333333;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  cursor: pointer;
}

/* Subscpiption */

.subscription-catalog {
  background-color: transparent;
  background-image: none;
}

.subscription-catalog .section-title {
  color: #000000;
}

.subscription-catalog .section-description {
  color: #333333;
}

/* Modal  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  margin: auto;
  width: 715px;
  padding: 54px 68px 70px;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.modal-form {
  display: grid;
  grid-template-columns: 156px repeat(3, 1fr);
}

.modal-title {
  grid-column: 1 / 4;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  color: #000000;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-label {
  align-self: center;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.input-date-wrap {
  position: relative;
  grid-column: 2 / 5;
}

.input-date {
  width: 100%;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.9px;
}

.input-date::-webkit-input-placeholder {
  opacity: 1;
}

.input-date::-moz-placeholder {
  opacity: 1;
}

.input-date::placeholder {
  color: #000000;
}

.calendar-button {
  position: absolute;
  top: 14px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  color: #d6d5d5;
  background-color: transparent;
  cursor: pointer;
}

.calendar-button:hover {
  color: #929090;
}

.accept-text {
  grid-column: 2 / 5;
  margin: 11px 0;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
}

.error {
  color: #ff5757;
}

.input-number-wrap {
  position: relative;
}

.guest-number {
  max-width: 133px;
  padding: 14px 56px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.number-operator {
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  color: #d6d5d5;
  background-color: transparent;
  cursor: pointer;
}

.button-minus {
  top: 15px;
  left: 18px;
}

.button-plus {
  left: 99px;
  top: 15px;
  border-color: #000000;
}

.minus,
.plus {
  position: absolute;
  z-index: 1;
}

.guest-number::-webkit-outer-spin-button,
.guest-number::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.guest-number {
  -moz-appearance: textfield;
}

.kid-label-tooltip {
  display: flex;
  align-items: center;
  margin-left: 48px;
  gap: 5px;
}

.tooltip {
  position: relative;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  display: block;
  width: 25px;
  height: 25px;
  padding-right: 16px;
  border: none;
  border-radius: 50%;
  background-position: center center;
  background-image: url("../images/icons/info.svg");
  background-color: #83b3d3;
  cursor: help;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: none;
  width: 256px;
  margin-top: 18px;
  padding: 16px 22px 28px;
  border-radius: 10px;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.tooltip-text:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/icons/tooltip-arrow.svg");
}

.modal-button {
  grid-column: -1 / 1;
  margin-top: 40px;
  padding: 12px 14px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* Hover Focus Active states*/

/* Navigation */

.navigation-link:hover,
.result-link:hover .results-title {
  color: #756257;
}

.current:hover,
.current:focus {
  color: #000000;
}

.button-want:hover {
  color: #ffffff;
}

.button-want:hover,
.button-search:hover,
.button-more:hover {
  background-color: #615048;
}

.button-want:focus,
.button-search:focus,
.button-more:focus {
  background-color: #615048;
  outline: none;
}

.button-want:active,
.button-search:active,
.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-subscribe:hover,
.button-apply:hover,
.button-favorite:hover {
  background-color: #68a2ca;
}

.button-subscribe:focus,
.button-apply:focus,
.button-favorite:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-subscribe:active,
.button-apply:active,
.button-favorite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-subscribe:disabled,
.button-apply:disabled,
.modal-button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.modal-button:disabled:hover {
  background-color: #e5e5e5;
}

.button-active:hover {
  background-color: #6c9e42;
}

.button-active:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.input-text:hover {
  background-color: #dcdcdc;
}

.input-text:focus {
  outline: 3px solid #68a2ca;
  background-color: #fefafa;
}

.input-text:focus:not(:placeholder-shown) {
  outline: 3px solid #68a2ca;
  background-color: #ffffff;
}

.input-text:disabled {
  opacity: 0.3;
  cursor: default;
}

.input-text:disabled:hover {
  background-color: #f2f2f2;
}

/* Footer */

.phone:hover,
.phone:focus {
  color: #756157;
  outline: none;
}

.phone:active {
  opacity: 0.3;
}

.logo-link:hover,
.logo-link:focus {
  color: #756157;
  outline: none;
}

.logo-link:active {
  opacity: 0.3;
}

.socials-link:hover,
.socials-link:focus {
  color: #68a2ca;
  outline: none;
}

.socials-link:active {
  opacity: 0.3;
}

/* Catalog view */

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.view-button:active {
  border-color: #000000;
}

.view-active {
  border-color: #000000;
}

/* Pagination */

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

/* Breadcrums */

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/* Catalog form */

.option-label:hover .custom-checkbox {
  opacity: 0.6;
}

.checkbox:focus + .custom-checkbox {
  outline: 3px solid #82b3d3;
  opacity: 0.6;
}

.option-label:active .custom-checkbox {
  opacity: 0.3;
}

.checkbox:disabled + .custom-checkbox {
  opacity: 0.3;
  cursor: default;
}

.radio:focus + .custom-radio {
  outline: 3px solid #82b3d3;
}

.radio:disabled + .custom-radio {
  opacity: 0.3;
  cursor: default;
}

.input-number:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.input-number:focus {
  box-shadow: 0 0 0 3px #81b3d2,
  inset 0 0 0 3px #81b3d2;
  outline: none;
}

.input-number:focus:not(:placeholder-shown) {
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.input-number:disabled {
  opacity: 0.3;
  cursor: default;
}

.input-number:disabled:hover {
  border: 2px solid #ffffff;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 #8e8d8d;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #82b3d3;
}

.button-reset:active{
  opacity: 0.3;
}

.results-image-link:hover {
  opacity: 0.6;
}

.sort-list:hover,
.sort-list:focus,
.results-number:hover,
.results-number:focus {
  border-color: #68a2ca;
  outline: none;
}

.sort-list:active,
.results-number:active {
  border-color: #3f5e72;
}

.sort-list:disabled,
.results-number:disabled {
  opacity: 0.3;
}

.sort-list:disabled:hover,
.results-number:disabled:hover {
  border: 2px solid #e5e5e5;
  outline: none;
  cursor: default;
}

/* Modal */

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  color: #eae6e6;
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:disabled {
  color: #b8b2b2;
  background-color: #f9f9f9;
  cursor: default;
}

.input-date:hover {
  background-color: #e6e6e6;
}

.input-date:hover + .calendar-button {
  color: #929090;
}

.input-date:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.input-date:focus:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background-color: #ffffff;
}

.input-date:disabled {
  opacity: 0.3;
  cursor: default;
}

.input-date:disabled + .calendar-button {
  cursor: default;
  color: #d6d5d5;
}

.input-date:disabled:hover {
  background-color: #f2f2f2;
}

.calendar-button:focus {
  outline: 3px solid #68a2ca;
}

.calendar-button:disabled {
  cursor: default;
  color: #d6d5d5;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.number-operator:hover {
  color: #000000;
}

.number-operator:focus {
  outline: 3px solid #83b3d3;
}

.number-operator:active {
  color: #d6d5d5;
  outline: none;
}

.number-operator:disabled {
  cursor: default;
}

.number-operator:disabled:hover {
  cursor: default;
  color: #d6d5d5;
}

.modal-button:hover {
  background-color: #68a2ca;
}

.modal-button:focus {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  outline: none;
}

.error-field {
  border: 2px solid rgb(219, 65, 65);
}
