@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

/* Index page */

.page-header {
  font-weight: 700;
}

.list {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.main-hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.main-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-section {
  text-align: center;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscription-section {
  background-image: url("../images/subscription-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button-section {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.button-search {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.results a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.input-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.socials-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* Catalog */

.filter-wrapper {
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: inherit;
  text-decoration: none;
  color: #ffffff;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.option-label {
  font-size: 18px;
  line-height: 21px;
}

.results {
  text-align: center;
}

.sort-list {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.results-title {
  font-size: 24px;
  line-height: 28px;
}

.results-type {
  font-size: 18px;
  line-height: 21px;
}

.results-price {
  font-size: 18px;
  line-height: 21px;
}

.score {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.results-number {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}










